<ion-header>
  <ion-toolbar>
    <ion-title>Control de Movimiento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item>
      <ion-label>X orientation</ion-label>
      <ion-input type="text" [(ngModel)]="gyrX"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Y orientation</ion-label>
      <ion-input type="text" [(ngModel)]="gyrY"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Z orientation</ion-label>
      <ion-input type="text" [(ngModel)]="gyrZ"></ion-input>
    </ion-item>
    <div  align="bottom">
      <ion-button (click)="gyrascope()" color="dark" expand="full" shape="round" fill="outline" type="button" >click</ion-button>
    </div> -->

  <!-- <ion-item>
    <ion-label>Acceleration X</ion-label>
    <ion-input type="text" [(ngModel)]="accX"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Y</ion-label>
    <ion-input type="text" [(ngModel)]="accY"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Z</ion-label>
    <ion-input type="text" [(ngModel)]="accZ"></ion-input>
  </ion-item> -->

  <!-- <div  align="bottom">
    <ion-button (click)="Accelerometer()" color="dark" expand="full" shape="round" fill="outline" type="button" >Iniciar</ion-button>
  </div>
  <div  align="bottom">
    <ion-button (click)="Stop()" color="dark" expand="full" shape="round" fill="outline" type="button" >Detener</ion-button>
  </div>
  <div  align="bottom">
    <ion-button (click)="Clear()" color="dark" expand="full" shape="round" fill="outline" type="button" >Limpiar</ion-button>
  </div> -->
  <div  align="bottom" class="contenedor" >
    <ion-button *ngIf="!isOn" (click)="Iniciar()" color="dark" type="button" >

        <ion-icon name="radio-button-off"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isOn" (click)="Detener()" color="danger" type="button" >

      <ion-icon name="radio-button-on"></ion-icon>
    </ion-button>
  </div>
</ion-content>
