<ion-header>
  <ion-toolbar>
    <ion-title>bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
      <ion-label>X orientation</ion-label>
    <ion-input type="text" [(ngModel)]="xOrient"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Y orientation</ion-label>
      <ion-input type="text" [(ngModel)]="yOrient"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Z orientation</ion-label>
        <ion-input type="text" [(ngModel)]="zOrient"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Time Stamp</ion-label>
          <ion-input type="text" [(ngModel)]="timestamp"></ion-input>
        </ion-item>

        <div  align="bottom">
          <ion-button (click)="gyrascope()" color="dark" expand="full" shape="round" fill="outline" type="button" >click</ion-button>
        </div>
        <div  align="bottom">
          <ion-button (click)="StopGyro()" color="dark" expand="full" shape="round" fill="outline" type="button" >stop</ion-button>
        </div> -->

  <ion-item>
    <ion-label>Acceleration X</ion-label>
    <ion-input type="text" [(ngModel)]="accX"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Y</ion-label>
    <ion-input type="text" [(ngModel)]="accY"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Z</ion-label>
    <ion-input type="text" [(ngModel)]="accZ"></ion-input>
  </ion-item>
  <div  align="bottom">
    <ion-button (click)="Accelerometer(true)" color="dark" expand="full" shape="round" type="button" >Acelerometro</ion-button>
  </div>
  <div  align="bottom">
    <ion-button (click)="Accelerometer(false)" color="dark" expand="full" shape="round" fill="outline" type="button" >stop</ion-button>
  </div>
</ion-content>
