// ion-item{
//     --background: #E8E8E8;
//     --color: #080808;
//     --margin-top:5px;
// }
.item {
    padding: 0 !important;
    margin-bottom: 8px;
}

ion-grid {
    --font-family: 'Lato-Light';
    // src: url('../fonts/Lato-Light.eot') format('embedded-opentype'), url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.ttf') format('truetype');
    --font-weight: normal;
    --font-style: normal;
}

ion-input {
  &.custom-input {
    font-size: 1em; //sets text font size
    ::placeholder {
      font-size: 0.8em; //sets placeholder font size
    }
  }
}
