<ion-content padding>


  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img class="animation-target" src="assets/alarma.2.png">
      <!-- <img class="animation-target" src="assets/icono.tres.svg"> -->
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>

  <div class="" *ngIf="loading">
      <ion-spinner name="circles"></ion-spinner>
  </div>
  <div class="" *ngIf="!loading" >
  <!-- <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row color="light" justify-content-center>
        <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input class="custom-input" placeholder="Correo" name="email" type="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="custom-input" placeholder="Contraseña" name="password" type="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button strong="true" color="light" shape="round" type="submit" [disabled]="form.invalid" expand="full">Ingresar</ion-button>
          </div>


            <div  align="bottom">
              <ion-button (click)="cargarUsuario('admin');" color="dark" expand="full" shape="round" fill="outline" type="button" >Admin</ion-button>
            </div>
            <div  align="bottom">
              <ion-button (click)="cargarUsuario('invitado');" color="dark" expand="full" shape="round" fill="outline" type="button" >Invitado</ion-button>
            </div>
            <div  align="bottom">
              <ion-button (click)="cargarUsuario('usuario');" color="dark" expand="full" shape="round" fill="outline" type="button" >Usuario</ion-button>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form> -->

    <form [formGroup]="validationsForm" (ngSubmit)="login(validationsForm.value)">
      <ion-list >
        <ion-item class="ion-text-center" color="primary" (click)="cargarUsuario('admin')">
          <ion-label>Admin</ion-label>
        </ion-item>

        <ion-item  class="ion-text-center" color="danger" (click)="cargarUsuario('invitado')">
          <ion-label>Invitado</ion-label>
        </ion-item>

        <ion-item  class="ion-text-center" color="success" (click)="cargarUsuario('user')">
          <ion-label>Usuario</ion-label>
        </ion-item>

        <ion-item  class="ion-text-center" color="tertiary" (click)="cargarUsuario('anon')">
          <ion-label>Anónimo</ion-label>
        </ion-item>

        <ion-item  class="ion-text-center" color="warning" (click)="cargarUsuario('test')">
          <ion-label>Tester</ion-label>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="floating" color="dark">Correo</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="dark">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>
      <ion-button shape="round" color="dark" type="submit" [disabled]="!validationsForm.valid">
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
